<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Converter</title>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="hero">
        <div id="warp">
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <label for="file-Taker" class="file-section">
                    <input type="file" name="File[]" id="file-Taker" accept="image/*" multiple hidden>
                    <div class="text">
                        <!-- TODO:Insert something image -->
                        <p>Drag and Drop or click here to upload file</p>
                        <span>Upload images</span>
                    </div>
                    <ul id="file-list"></ul>
                </label>
                <button type="submit">Convert to pdf</button> <!--TODO:onclick goes to another site-->
            </form>
        </div>
    </div>
</body>
</html>